body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(128, 128, 128, 0.219);
}

.search-form-class {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    align-items: center;
    padding: 10px;
    max-width: 400px;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    background: transparent;
    color: #9E9C9C;
    outline: none;
}

.search-form button,
.load-more {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffd5cb;
    color: #9e9c9c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-form button:hover,
.load-more:hover,
.search-form button:focus,
.load-more:focus {
    background-color: #00ffd5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 0 20px;
}

.photo-card {
    padding: 10px;
    text-align: center;
    background-color: #00ffd52d;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}

.photo-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.photo-card img {
    width: 100%;
    height: auto;
}

.info {
    margin-top: 10px;
}

.info-item {
    margin: 5px 0;
}

.load-more {
    display: none;
    margin: 20px auto;
    padding: 10px 20px;
    color: #9e9c9c;
    font-size: 16px;
    background-color: #00ffd5cb;
    border: 2px solid #7BA7AB;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
